<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add-user form</title>
</head>
<body>
  <form action="/user/save" method="post">
      <br>
      <label for="username">Username:</label>
      <input name="username" id="username" type="text" /></br>
      <label for="name">Name:</label>
      <input name="name" id="name" type="text" /><br>
      <label for="surname">Surname:</label>
      <input name="surname" id="surname" type="text" ></br>
      <label for="address">Address:</label>
      <input name="address" id="address" type="text" ></br>
      <label for="password">Password:</label>
      <input name="password" id="password" type="password">
      <br>
      <label for="role_user">USER:</label>
      <input name="roles[]" id="role_user" type="checkbox" value="ROLE_USER">
      <br>
      <label for="role_admin">ADMIN:</label>
      <input name="roles[]" id="role_admin" type="checkbox" value="ROLE_ADMIN">
      <br>
      <button
          type="submit"> Save</button>
  </form>
</body>
</html>